<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Main</title>

<link th:href="@{/CSS/main.css}" rel="stylesheet" />
</head>
<body>

<div class="container">
	<div class="menu" tabindex="1">
		<div class="list">
			<span><a href="/allsites" class="button2">SITES</a></span>
			<span><a href="/assets" class="button2">ASSETS</a></span>
			<span><a href="/locations" class="button2">LOCATIONS</a></span>
			<span><a href="/allcategories" class="button2">CATEGORIES</a></span>
			<span><a href="/allvendors" class="button2">VENDORS</a></span> 
			<span><a href="/" class="button2">REPORTS</a></span> 
			<span><a href="/allusers" class="button2">USERS</a></span> 
			<span><a href="/allroles" class="button2">USER ROLES</a></span> 
			<span><a href="/allrights" class="button2">ROLE RIGHTS</a></span> 
		</div>
		<div class="intro">
			<div class="btn"></div>
			<h1>ASSET MANAGEMENT APPLICATION<br></h1>
			<p>Copyright @Coskun 2020</p> 
		</div>
	</div>	
</div>


</body>
</html>
